<form #register="ngForm" (ngSubmit)="onSubmit(register)">
    <div class="form-group">
      <label for="UserName">მომხმარებლის სახელი</label>
      <input type="text" class="form-control" id="UserName" name="UserName" UserName ngModel>
    </div>
  
    <div class="form-group">
      <label for="FirstName">სახელი</label>
      <input type="text" class="form-control" id="FirstName" name="FirstName" FirstName ngModel>
    </div>
  
    <div class="form-group">
      <label for="LastName">გვარი</label>
      <input type="text" class="form-control" id="LastName" name="LastName" LastName ngModel>
    </div>
  
    <div class="form-group">
      <label for="Email">მაილი</label>
      <input type="email" class="form-control" id="Email" name="Email" Email ngModel>
    </div>
  
    <div class="form-group">
      <label for="Password">პაროლი</label>
      <input type="password" class="form-control" id="Password" name="Password" Password ngModel>
    </div>
  
    <div class="form-group">
      <label for="PhoneNumber">ტელ. ნომერი</label>
      <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" PhoneNumber ngModel>
    </div>
  
    <button type="submit" class="btn btn-primary">რეგისტრაცია</button>
  </form>
  
